transformers==4.40.0
accelerate
datasets
peft
bitsandbytes
wandb
trl
tqdm
langchain-chroma
sentence-transformers
langchain
langchain-community
faiss-gpu
nltk
bert_score
korouge_score
langchain-teddynote
kiwipiepy